.totalSaleCardMain {
    box-shadow: 0.2px 0.2px 20px #e8e8e8;
    padding: 10px;
}

.totalSaleCardMain h2 {
    color: var(--primary-clr);
}

.cardIconTotalSale {
    background-color: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 28px;
    width: 50px;
    border-radius: 10px;
    color: var(--light-white);
    margin-bottom: 5px;
}